<h1><%= @jewel.name %></h1>
<p id="notice"><%= notice %></p>
<hr />
<p>
  <strong>Description:</strong>
  <%= @jewel.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @jewel.price %>
</p>

<%= link_to 'Edit', edit_jewel_path(@jewel), class: 'btn btn-success btn-sm' %> |
<%= link_to 'Back', jewels_path, class: 'btn btn-default btn-sm' %>
