<!DOCTYPE html>
<html>
<head>
  <title>Jewel</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class= "container">
	<%= render 'layouts/header' %>
	<%= render 'layouts/messages' %>   
	<%= yield %>
</div>

<script type="text/javascript">
	$('.alert').delay(7000).fadeOut();
</script>
</body>
</html>
